.divone{
    background-color: aqua;
    width: 250px;
    height: 80px;
    border: 10px dotted red;
    transform: translate(40px,30px);
}
p{
    background-color: seagreen;
    width: 200px;
    height: 150px;
    /* Grados para el rotate */
    transform: rotate(11deg);
}
.divtwo{
    background-color: yellowgreen;
    width: 100px;
    height: 85px;
    /* transform: scale(1,1); */
    /* transform: scaleX(2); */
    transform: scaleZ(4);
}
.divtres{
    background-color: tomato;
    width: 150px;
    height: 90px;
    transform: skew(150deg);
}
.transition{
    background-color: wheat;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    transition: width 3s, height 2s, transform 3s;
    transition-delay: 1s;
}
div:hover{
    width: 250px;
    height: 250px;
    transform: rotate(180deg);
}
